# <center>Explore US Births<center>

In [1]:
# opening dataset
data_object = open('US_births_1994-2003_CDC_NCHS.csv', mode = 'r')

In [2]:
# reading data & spliting with new line
data_object = data_object.read().split("\n")

In [3]:
# printing first 10 rows
data_object[0:10]

['year,month,date_of_month,day_of_week,births',
 '1994,1,1,6,8096',
 '1994,1,2,7,7772',
 '1994,1,3,1,10142',
 '1994,1,4,2,11248',
 '1994,1,5,3,11053',
 '1994,1,6,4,11406',
 '1994,1,7,5,11251',
 '1994,1,8,6,8653',
 '1994,1,9,7,7910']

## Converting data into list of list

In [4]:
# creating a function to read data
def read_csv(file_name):
    string_data = open(file_name).read()
    string_list = string_data.split("\n")[1:] # skipping 0 (headers)
    final_list = []
    
    for row in string_list:
        string_fields = row.split(",")
        int_fields = []
        
        for value in string_fields:
            int_fields.append(int(value))
        final_list.append(int_fields)
    return final_list

data_list = read_csv("US_births_1994-2003_CDC_NCHS.csv")

In [5]:
data_list[0:10]

[[1994, 1, 1, 6, 8096],
 [1994, 1, 2, 7, 7772],
 [1994, 1, 3, 1, 10142],
 [1994, 1, 4, 2, 11248],
 [1994, 1, 5, 3, 11053],
 [1994, 1, 6, 4, 11406],
 [1994, 1, 7, 5, 11251],
 [1994, 1, 8, 6, 8653],
 [1994, 1, 9, 7, 7910],
 [1994, 1, 10, 1, 10498]]

## Calculating Number Of Births Each Month

In [6]:
# A function to calculate number of births in each month
def month_births(data):
    births_per_month = {}
    
    for column in data:
        month = column[1]
        births = column[4]
        if month in births_per_month:
            births_per_month[month] = births_per_month[month] + births
        else:
            births_per_month[month] = births
    return births_per_month

month_births = month_births(data_list)

In [7]:
month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

## Calculating No Of births Each Day Of Week

In [7]:
# A function to calculate number of births in each day of week
def dow_births(data):
    births_per_dow = {}
    
    for column in data:
        dow = column[3]
        births = column[4]
        if dow in births_per_dow:
            births_per_dow[dow] = births_per_dow[dow] + births
        else:
            births_per_dow[dow] = births
    return births_per_dow

dow_births = dow_births(data_list)

In [8]:
dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}

## A General Function to calulate number of births

In [9]:
# A General function to calculate number of births for given column
def calc_counts(data, col_index):
    sums_dict = {}
    
    for column in data:
        col_value = column[col_index]
        births = column[4]
        if col_value in sums_dict:
            sums_dict[col_value] = sums_dict[col_value] + births
        else:
            sums_dict[col_value] = births
    return sums_dict

year_births = calc_counts(data_list, 0)
month_births = calc_counts(data_list, 1)
dom_births = calc_counts(data_list, 2)
dow_births = calc_counts(data_list, 3)

In [10]:
year_births

{1994: 3952767,
 1995: 3899589,
 1996: 3891494,
 1997: 3880894,
 1998: 3941553,
 1999: 3959417,
 2000: 4058814,
 2001: 4025933,
 2002: 4021726,
 2003: 4089950}

In [11]:
month_births

{1: 3232517,
 2: 3018140,
 3: 3322069,
 4: 3185314,
 5: 3350907,
 6: 3296530,
 7: 3498783,
 8: 3525858,
 9: 3439698,
 10: 3378814,
 11: 3171647,
 12: 3301860}

In [12]:
dom_births

{1: 1276557,
 2: 1288739,
 3: 1304499,
 4: 1288154,
 5: 1299953,
 6: 1304474,
 7: 1310459,
 8: 1312297,
 9: 1303292,
 10: 1320764,
 11: 1314361,
 12: 1318437,
 13: 1277684,
 14: 1320153,
 15: 1319171,
 16: 1315192,
 17: 1324953,
 18: 1326855,
 19: 1318727,
 20: 1324821,
 21: 1322897,
 22: 1317381,
 23: 1293290,
 24: 1288083,
 25: 1272116,
 26: 1284796,
 27: 1294395,
 28: 1307685,
 29: 1223161,
 30: 1202095,
 31: 746696}

In [13]:
dow_births

{1: 5789166,
 2: 6446196,
 3: 6322855,
 4: 6288429,
 5: 6233657,
 6: 4562111,
 7: 4079723}